---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/oauth/access_token
    body:
      encoding: UTF-8
      string: client_id=1977681792501372&client_secret=920ff6a0a18835cb7b2fef5cda8cd491&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Facebook-Api-Version:
      - v2.5
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"1977681792501372|GIogiCMrqIhOxwtMgoDHeZoETt0","token_type":"bearer"}'
  recorded_at: Wed, 07 Feb 2018 22:54:10 GMT
[...]
- request:
    method: get
    uri: https://graph.facebook.com/?access_token=1977681792501372%7CGIogiCMrqIhOxwtMgoDHeZoETt0&id=https://www.facebook.com/jonloomerdigital/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d4fafa903c5a47f58725e21874c05d0154f987e1"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.11
    body:
      encoding: UTF-8
      string: '{"name":"Jon Loomer Digital","id":"177748728980718"}'
  recorded_at: Wed, 07 Feb 2018 22:54:12 GMT
- request:
    method: get
    uri: https://graph.facebook.com/177748728980718/posts?access_token=1977681792501372%7CGIogiCMrqIhOxwtMgoDHeZoETt0&fields=title,link,message,picture,created_time
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"410c4f58aee47b86e5e945cb34a5796742b77181"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v2.11
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"message":"The second run of my Essential FB Ad Features
        Webinar is on Monday at 1pm EST. I am streaming it via Facebook Live, so you
        can watch it here. Click \"Get Reminder\" and you''ll be notified as we''re
        starting. I hope to see you there!\n\nTopics to be covered:\n\n\u2022 Split
        Testing\n\u2022 Automated Rules\n\u2022 Optimization\n\u2022 FB Analytics\n\u2022
        Custom Audiences","created_time":"2018-02-06T18:48:27+0000","id":"177748728980718_1612192862202957"},{"link":"https:\/\/www.jonloomer.com\/2018\/01\/24\/facebook-ads-custom-audiences-guide\/","message":"Custom
        Audiences used to be simple. When I used the term, you assumed I was talking
        about targeting my customer list. Those days are long gone.\n\nThis now includes
        your customers as well as anyone who engaged with you on Facebook, on your
        app, on your website, or even offline. And the levels of detail in some of
        these audiences can be incredible.\n\nBecause of the complexity, I spent a
        day putting together this exhaustive roadmap of 55 Custom Audiences that you
        can start targeting now. There are likely some here you''ve never considered
        before.\n\nTake a look at the list. You may want to bookmark it. Which audiences
        are your go-to? Any I left off?","picture":"https:\/\/scontent.xx.fbcdn.net\/v\/t45.1600-4\/c118.0.130.130\/p130x130\/26755763_6088606647127_5358898761860907008_n.png?oh=f9783972d38b47339454cada4e3860de&oe=5AE0AD2E","created_time":"2018-01-25T07:15:01+0000","id":"177748728980718_1599757243446519"},{"link":"https:\/\/www.jonloomer.com\/2018\/01\/21\/facebook-marketers-already-fumbling-news-feed-change\/","message":"The
        thing about this latest news feed change that I''m regretting is that we know
        what shoe is going to drop [...]
